div{
    font-size: 16px;
    line-height: 10px;
}

a{
    font-size: 16px;
    line-height: 20px;
}


/*
    文字行高本质：一行文字的上下同时加上(行高-文字大小)/2

    对块元素：块元素的border会被文字行高撑开
    对内联元素：内联元素添加文字行高，但border不会被文字行高撑开
    嵌套元素设置文字行高：子级在未设置文字行高时，会继承父级元素的文字行高

*/