<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表格与简单过滤器</title>
    <link rel="stylesheet" href="css/gpxx.css">
</head>
<body>
    <div id="box">
        <table>
            <tr>
                <th>股票代码</th>
                <th>股票简称</th>
                <th>涨跌幅</th>
                <th>换手率</th>
                <th>最新价(元)</th>
                <th>前期高点</th>
                <th>备注信息</th>
                <th>修改备注</th>
                <th>del</th>
            </tr>
            {%content%}
        </table>
    </div>
</body>
<script src="js/jQuery.js"></script>
<script src="js/gpxx.js"></script>
</html>