*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: mediumorchid;
}

#d1:first-line{
    color: mediumslateblue;
}

#d1:first-letter{
    font-weight: 600;
}

#d2{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: #aaaaaa;
    border-radius: 50%;
    animation: run 3s infinite;
}

#d2:before{
    content: '';
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: mediumslateblue;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: -5px
}

@keyframes run {
    from{
        transform: rotate(0deg); /*从零度*/
    }
    to{
        transform: rotate(360deg); /*旋转到360度*/
    }
}

:root{
    background: #123523;
}

#d3 p:not(#p2){
    color: #ec6523;
}

#d4 :empty{
    width: 10px;
    height: 10px;
    background-color: #00FFBB;
}

#d5 div{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

#d5 #d01:target{
    background-color: #979869;
}

#d5 #d02:target{
    background-color: #887668;
}

#d5 #d03:target{
    background-color: #536796;
}

#d6 p:first-child{
    background-color: #00FFBB;
}

#d6 p:last-child{
    background-color: #172c45;
}

#d7 input:checked+label{
    color: white;
}

#d8 p{
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 2px red;
}

#d9{
    width: 100px;
    background-color: #aaaaaa;
    word-break: break-all;
}

#d10{
    width: 100px;
    height: 100px;
    background-color: #ff8400;
    box-shadow: 8px 8px 5px grey;
}

#d11{
    width: 100px;
    height: 100px;
    background-color: #ff8400;
    border-radius: 5px 50px;
}

#d12 div{
    width: 200px;
    height: 200px;
    margin: 5px;
}

#d12 div:nth-child(1){
    background: linear-gradient(to bottom,red,yellow,greenyellow);
}

#d12 div:nth-child(2){
    background: linear-gradient(to top,red,yellow,greenyellow);
}

#d12 div:nth-child(3){
    background: linear-gradient(to left,red,yellow,greenyellow);
}

#d12 div:nth-child(4){
    background: linear-gradient(to right,red,yellow,greenyellow);
}

#d12 div:nth-child(5){
    background: linear-gradient(to left top,red,yellow,greenyellow);
}

#d12 div:nth-child(6){
    background: linear-gradient(to right top,red,yellow,greenyellow);
}

#d12 div:nth-child(7){
    background: linear-gradient(to left bottom,red,yellow,greenyellow);
}

#d12 div:nth-child(8){
    background: linear-gradient(to right bottom,red,yellow,greenyellow);
}

#d12 div:nth-child(9){
    background: linear-gradient(280deg,red,yellow,greenyellow);
}

#d12 div:nth-child(10){
    background: radial-gradient(circle 50px,pink,green);
}

#d12 div:nth-child(11){
    background: radial-gradient(circle 50px at center,pink,green);
}

#d12 div:nth-child(12){
    background: radial-gradient(circle 50px at top,pink,green);
}

#d12 div:nth-child(13){
    background: radial-gradient(circle 50px at bottom,pink,green);
}

#d12 div:nth-child(14){
    background: radial-gradient(circle 50px at left,pink,green);
}

#d12 div:nth-child(15){
    background: radial-gradient(circle 50px at right,pink,green);
}

#d12 div:nth-child(16){
    background: radial-gradient(circle 50px at left top,pink,green);
}

#d12 div:nth-child(17){
    background: radial-gradient(circle 50px at left bottom,pink,green);
}

#d12 div:nth-child(18){
    background: radial-gradient(circle 50px at right top,pink,green);
}

#d12 div:nth-child(19){
    background: radial-gradient(circle 50px at right bottom,pink,green);
}

#d12 div:nth-child(20){
    background: repeating-radial-gradient(deepskyblue 10%, white 20%);
}

#d12 h1{
    display: inline;
    background: linear-gradient(45deg,pink,yellow,green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}