*{
    margin: 0 auto;
    padding: 0;
}

#box1{
    width: 200px;
    height: 200px;
    background-color: #ec6523;
    border: 1px dashed black;
}

#box2{
    width: 200px;
    height: 200px;
    background-color: orchid;
    border: 1px dashed black;
}

#box3{
    width: 200px;
    height: 200px;
    background-color: deeppink;
    border: 1px dashed black;
}

#box4{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border: 1px dashed black;
}

#box5{
    width: 200px;
    height: 200px;
    background-color: darkslategrey;
    border: 1px dashed black;

}

ul{
    list-style-type: none;
}

#target1{
    width: 200px;
    height: 200px;
    margin-left: 700px;
    text-align: center;
    font-size: 20px;
}

#target2{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    border: 1px dashed black;
}

#target3{
    width: 200px;
    height: 200px;
    background-color: #ff8400;
    border: 1px dashed black;
}

#target4{
    width: 200px;
    height: 200px;
    background-color: mediumorchid;
    border: 1px dashed black;
}

#target5{
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    border: 1px dashed black;
}

#target6{
    width: 200px;
    height: 200px;
    background-color: mediumslateblue;
    border: 1px dashed black;
}

#target7{
    width: 200px;
    height: 200px;
    background-color: firebrick;
    border: 1px dashed black;
}

#target8{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 1px dashed black;
}

#target9{
    position: relative;
    top: 25px;
    width: 150px;
    height: 150px;
    background-color: khaki;
    border: 1px dashed black;
}

#target10{
    position: relative;
    top: 25px;
    width: 100px;
    height: 100px;
    background-color: springgreen;
    border: 1px dashed black;
}

#target11{
    position: relative;
    top: 0;
    width: 200px;
    height: 200px;
    background-color: firebrick;
    border: 1px dashed black;
    text-align: center;
    color: white;
}

#target12{
    position: relative;
    top: 0;
    left: 700px;
    width: 200px;
    height: 200px;
    text-align: center;
}

#target13{
    position: relative;
    top: 115px;
    left: 494px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    border: 1px dashed black;
    text-decoration: none;
    color: white;
    text-align: center;
}