*{
    margin: 0;
    padding: 0;
}

#box{
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

#target1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #555555;
    border: 1px solid black;
    left: 0;
    top: 0;
}

#target2{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: mediumslateblue;
    border: 1px solid black;
    left: 200px;
    top: 200px;
}