<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link href="{%static 'main/css/reset.css'%}" rel="stylesheet">
    <link href="{%static 'main/css/swiper.min.css'%}" rel="stylesheet" >
    <link href="{%static 'main/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'main/css/base.css'%}" rel="stylesheet">
    <script src="{%static 'main/js/jQuery.js'%}"></script>
    <script src="{%static 'main/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'main/js/swiper.min.js'%}"></script>
</head>
<body>
    <div id="box">
        <header>
            <nav id="header" class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a id="logoA" class="navbar-brand" href="#"><img id="logoImg" src="{%static 'myApp/img/logo.png'%}" width="30" height="30" alt="logo"></a>
                        <span>萌</span>
                    </div>
                </div>
            </nav>
        </header>


        <div id="main">
            {%block main%}
            {%endblock main%}
        </div>

        <footer class="container">
            <a class="btn btn-default col-xs-3" href="{%url 'app_asj:home'%}" role="button">
                <dl>
                    <dt><span><img src="" alt=""></span></dt>
                    <dd>主页</dd>
                </dl>
            </a>
            <a class="btn btn-default col-xs-3" href="{%url 'app_asj:market'%}" role="button">
                <dl>
                    <dt><span><img src="" alt=""></span></dt>
                    <dd>闪送超市</dd>
                </dl>
            </a>
            <a class="btn btn-default col-xs-3" href="{%url 'app_asj:cart'%}" role="button">
                <dl>
                    <dt><span><img src="" alt=""></span></dt>
                    <dd>购物车</dd>
                </dl>
            </a>
            <a class="btn btn-default col-xs-3" href="{%url 'app_asj:mine'%}" role="button">
                <dl>
                    <dt><span><img src="" alt=""></span></dt>
                    <dd>我的</dd>
                </dl>
            </a>
        </footer>
    </div>
</body>
</html>