div{
    color: red;  /*颜色名字表示*/
}


div{
    color: rgb(250,244,222);  /*rgb字表示*/ /*0-255*/ /*0:白色*/ /*255:黑色*/
    color: rgba(250,244,222,0.5);  /*rgba字表示*/ /*a:alpha:透明度:0-1*/ /*0:100%透明; 0.5:50%透明; 1:不透明*/
}


div{
    color: #1c6fe2;  /*16进制数值表示*/ /*#ff00aa可简写为#f0a*/
}