.box{
    margin: 10px 40px 20px 30px;  /*简化写法1的顺序：上 右 下 左*/
}

.box{
    margin: 10px 40px 30px;  /*简化写法2的顺序：上 左右 下*/
}

.box{
    margin: 10px 40px;  /*简化写法3的顺序：上下 左右*/
}

.box{
    margin: 40px;  /*简化写法4的顺序：上下左右*/
}

