h3{
    font: normal 20px 'Microsoft YaHei'; /*倾斜 大小/行高 字体*/
    line-height: 20px;  /*文字的行高与文字大小相同，可以让文字垂直居中*/
    color: #333;

    width:360px;
    height:20px;

    padding:15px;

    border-top:1px solid #f00;
    border-bottom:3px solid #666;
}